In [2]:
import pandas as pd
import numpy as np
import requests

In [3]:
import html5lib
from bs4 import BeautifulSoup
import re
import urllib

# Download and import the data from Kaggle

In [4]:
# Importing first data from Kaggle
df1 = pd.read_csv("airports_data.csv")
df1

,Unnamed: 0,name,iata,icao,lat,lon,country,alt
0,0,A Coruna Airport,LCG,LECO,43.302059,-8.377250,Spain,326
1,1,Aachen Merzbruck Airport,AAH,EDKA,50.823051,6.186111,Germany,623
2,2,Aalborg Airport,AAL,EKYT,57.092781,9.849164,Denmark,10
3,3,Aarhus Airport,AAR,EKAH,56.300011,10.619000,Denmark,82
4,4,Aarhus Sea Airport,QEA,EKAC,56.151993,10.247725,Denmark,1
...,...,...,...,...,...,...,...,...
5090,5090,Zunyi Xinzhou Airport,ZYI,ZUZY,27.811167,107.245972,China,2723
5091,5091,Zurich Airport,ZRH,LSZH,47.464722,8.549167,Switzerland,1416
5092,5092,Zwara Airport,WAX,HLZW,32.933334,12.083333,Libya,9
5093,5093,Zweibrucken Airport,ZQW,EDRZ,49.209518,7.400647,Germany,1133
5094,5094,Zyryanka Airport,ZKP,UESU,65.738335,150.707779,Russia,145

In [5]:
df1.describe

<bound method NDFrame.describe of       Unnamed: 0                      name iata  icao        lat         lon  \
0              0          A Coruna Airport  LCG  LECO  43.302059   -8.377250
1              1  Aachen Merzbruck Airport  AAH  EDKA  50.823051    6.186111
2              2           Aalborg Airport  AAL  EKYT  57.092781    9.849164
3              3            Aarhus Airport  AAR  EKAH  56.300011   10.619000
4              4        Aarhus Sea Airport  QEA  EKAC  56.151993   10.247725
...          ...                       ...  ...   ...        ...         ...
5090        5090     Zunyi Xinzhou Airport  ZYI  ZUZY  27.811167  107.245972
5091        5091            Zurich Airport  ZRH  LSZH  47.464722    8.549167
5092        5092             Zwara Airport  WAX  HLZW  32.933334   12.083333
5093        5093       Zweibrucken Airport  ZQW  EDRZ  49.209518    7.400647
5094        5094          Zyryanka Airport  ZKP  UESU  65.738335  150.707779

          country   alt
0           Spain   326
1         Germany   623
2         Denmark    10
3         Denmark    82
4         Denmark     1
...           ...   ...
5090        China  2723
5091  Switzerland  1416
5092        Libya     9
5093      Germany  1133
5094       Russia   145

[5095 rows x 8 columns]>

In [6]:
df1.head(100)

,Unnamed: 0,name,iata,icao,lat,lon,country,alt
0,0,A Coruna Airport,LCG,LECO,43.302059,-8.377250,Spain,326
1,1,Aachen Merzbruck Airport,AAH,EDKA,50.823051,6.186111,Germany,623
2,2,Aalborg Airport,AAL,EKYT,57.092781,9.849164,Denmark,10
3,3,Aarhus Airport,AAR,EKAH,56.300011,10.619000,Denmark,82
4,4,Aarhus Sea Airport,QEA,EKAC,56.151993,10.247725,Denmark,1
...,...,...,...,...,...,...,...,...
95,95,Alexandria Borg El Arab Airport,HBE,HEBA,30.917660,29.696400,Egypt,177
96,96,Alexandria International Airport,AEX,KAEX,31.327370,-92.548500,United States,89
97,97,Alexandria Municipal Airport,AXN,KAXN,45.867222,-95.394165,United States,1425
98,98,Alexandroupolis International Airport,AXD,LGAL,40.855862,25.956261,Greece,24
99,99,Algeciras Heliport,QYH,LEAG,36.128887,-5.441111,Spain,98

In [7]:
df1.columns

Index(['Unnamed: 0', 'name', 'iata', 'icao', 'lat', 'lon', 'country', 'alt'], dtype='object')

In [8]:
column_to_delete = ['Unnamed: 0']
df1.drop(columns=column_to_delete, inplace=True)
df1

,name,iata,icao,lat,lon,country,alt
0,A Coruna Airport,LCG,LECO,43.302059,-8.377250,Spain,326
1,Aachen Merzbruck Airport,AAH,EDKA,50.823051,6.186111,Germany,623
2,Aalborg Airport,AAL,EKYT,57.092781,9.849164,Denmark,10
3,Aarhus Airport,AAR,EKAH,56.300011,10.619000,Denmark,82
4,Aarhus Sea Airport,QEA,EKAC,56.151993,10.247725,Denmark,1
...,...,...,...,...,...,...,...
5090,Zunyi Xinzhou Airport,ZYI,ZUZY,27.811167,107.245972,China,2723
5091,Zurich Airport,ZRH,LSZH,47.464722,8.549167,Switzerland,1416
5092,Zwara Airport,WAX,HLZW,32.933334,12.083333,Libya,9
5093,Zweibrucken Airport,ZQW,EDRZ,49.209518,7.400647,Germany,1133
5094,Zyryanka Airport,ZKP,UESU,65.738335,150.707779,Russia,145

In [9]:
df1 = df1.rename(columns={'name':'Airport','iata': 'IATA', 'icao': 'ICAO',
                          'lat': 'Lat', 'lon': 'Lon', 'country': 'Country', 'alt': 'Alt'})

In [10]:
df1

,Airport,IATA,ICAO,Lat,Lon,Country,Alt
0,A Coruna Airport,LCG,LECO,43.302059,-8.377250,Spain,326
1,Aachen Merzbruck Airport,AAH,EDKA,50.823051,6.186111,Germany,623
2,Aalborg Airport,AAL,EKYT,57.092781,9.849164,Denmark,10
3,Aarhus Airport,AAR,EKAH,56.300011,10.619000,Denmark,82
4,Aarhus Sea Airport,QEA,EKAC,56.151993,10.247725,Denmark,1
...,...,...,...,...,...,...,...
5090,Zunyi Xinzhou Airport,ZYI,ZUZY,27.811167,107.245972,China,2723
5091,Zurich Airport,ZRH,LSZH,47.464722,8.549167,Switzerland,1416
5092,Zwara Airport,WAX,HLZW,32.933334,12.083333,Libya,9
5093,Zweibrucken Airport,ZQW,EDRZ,49.209518,7.400647,Germany,1133
5094,Zyryanka Airport,ZKP,UESU,65.738335,150.707779,Russia,145

In [11]:
df1.isnull().sum()

Airport    0
IATA       0
ICAO       0
Lat        0
Lon        0
Country    0
Alt        0
dtype: int64

In [12]:
df1.dropna()

,Airport,IATA,ICAO,Lat,Lon,Country,Alt
0,A Coruna Airport,LCG,LECO,43.302059,-8.377250,Spain,326
1,Aachen Merzbruck Airport,AAH,EDKA,50.823051,6.186111,Germany,623
2,Aalborg Airport,AAL,EKYT,57.092781,9.849164,Denmark,10
3,Aarhus Airport,AAR,EKAH,56.300011,10.619000,Denmark,82
4,Aarhus Sea Airport,QEA,EKAC,56.151993,10.247725,Denmark,1
...,...,...,...,...,...,...,...
5090,Zunyi Xinzhou Airport,ZYI,ZUZY,27.811167,107.245972,China,2723
5091,Zurich Airport,ZRH,LSZH,47.464722,8.549167,Switzerland,1416
5092,Zwara Airport,WAX,HLZW,32.933334,12.083333,Libya,9
5093,Zweibrucken Airport,ZQW,EDRZ,49.209518,7.400647,Germany,1133
5094,Zyryanka Airport,ZKP,UESU,65.738335,150.707779,Russia,145

In [13]:
df1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5090    False
5091    False
5092    False
5093    False
5094    False
Length: 5095, dtype: bool

# Collecting more data

In [14]:
# Scraping more data from the web
url = ("https://worldpopulationreview.com/country-rankings/largest-airports-in-the-world")
# file object
file = requests.get(url)
# bytes format
html_page = file.content

In [15]:
type(html_page)

bytes

In [16]:
# object
soup = BeautifulSoup(html_page, features = 'html.parser')

In [17]:
text = soup.find_all(text=True)

In [18]:
type(text)

bs4.element.ResultSet

In [19]:
# content manager
for lines in text:
    print(lines)

html
{"@context":"https://schema.org","@type":"Organization","url":"https://www.worldpopulationreview.com","name":"World Population Review"}
Largest Airports in the World 2023
World Population Review
Continents
Countries
World Cities
US States
US Counties
US Cities
Topics
States
Agriculture
Crime
Culture
Economics
Education
Environment
Facts
Geography
Government
Health
History
Law
Military
Politics
Population
Sports
Tech
Travel
Countries
Agriculture/Production
Crime/Safety
Culture
Economics
Education
Flags
Geography
Health
History
Infrastructure
Law
Military
Politics
Population
Tech/Business
Travel
Largest Airports in the World 2023
Map Options
Color Scheme:
Blues
Purple Red
Viridis
Yellow Green
Yellow Green Blue
Yellow Orange Red
X
Size (km²)
0
100
200
300
400
500
600
700
800
Hover over
Click on
 a tile for details.
Air travel has become a vital piece of the global economy. It is the most popular means of travel over long distances, capable of carrying vacationers, visitors, business people, or armed forces personnel to their destinations more quickly and safely than could rails, roads, or waterways. Air transport is also ideal for non-human cargo including mail, merchandise, and military payloads. As a result, cities around the world have adapted quickly, building enormous airports and support infrastructure to meet the ever-growing demand for affordable, available air transport. Which airport is the largest in the world? To answer that question, one must first define "largest." This article will unpack the world's largest airport three different ways: largest physical size, largest number of passengers, and largest total volume (number of flights).


Top 10 Largest Airports in the
World
 by Land Area (in square miles):




King Fahd International (DMM) — Dammam,
Saudi Arabia
 — 776 km2  (299.61 mi2)


Denver International (DEN) — Denver, CO
United States
 — 135.7 km2  (53.09 mi2)


Dallas/Fort Worth International (DFW) — Dallas, TX United States — 69.6 km2  (26.88 mi2)


Orlando International (MCO) — Orlando, FL United States — 53.8 km2  (20.78 mi2)


Washington
 Dulles International (IAD) — Washington D.C., United States — 48.6 km2  (18.75 mi2)


Beijing
 Daxing International (PKX) — Beijing,
China
 — 46.6 km2 (18 mi2)


George Bush Intercontinental (IAH) — Houston, TX United States — 44.5 km2 (17.19 mi2)


Shanghai
 Pudong International (PVG) — Shanghai, China — 39.9 km2 (15.4 mi2)


Cairo
 International (CAI) — Cairo,
Egypt
 — 36.3 km2 (14 mi2)


Suvarnabhumi International (BKK) —
Bangkok
,
Thailand
 — 32.4 km2 (12.51 mi2)




In terms of overall size, the
King Fahd International Airport
 in Dammam, Saudi Arabia is the world’s biggest airport by an overwhelming margin. Taking up nearly 300 square miles, this former United States airbase very nearly matches the area of all five boroughs of
New York
 City put together (302.6 mi2). Its facilities include an onsite mosque capable of accommodating up to 2,000 worshippers at a time, a residential community that can support up to 3,000, and
onsite greenhouses
 that supply the plant materials for the site's landscaping.


Despite its massive footprint and impressive facilities, King Fahd International hosts only about 9.7 million passengers annually, which places it well outside the top 100 in the world in terms of traffic. In fact, King Fahd International is only the third-busiest airport in Saudi Arabia. The busiest is the King Abdulaziz International airport in
Jeddah
 which sees 41 million passengers annually, many of whom seek pilgrimage to the holy city of
Mecca
.


Moving indoors, the Beijing Daxing airport in China boasts the largest airport terminal in the world. With an area totaling nearly 696,773 square meters (7.5 million square feet), the terminal is roughly equivalent to 97 football/soccer fields (130 American football fields). The terminal at
Beijing Daxing
 was laid out in a unique “starfish” shape to enable passengers to reach their departure gate as quickly as possible. As helpful as this forward-thinking design is now, it should become even more vital in the future—Beijing Daxing is projected to become the busiest airport in the world by 2040. Physical sprawl is impressive, but it is only one measure of size. Passenger counts are another.  If one were to re-rank the list of top airports by total passengers served, the results would look markedly different.


Top 10 Biggest (and Busiest) Airports in the World by Total Passengers Served in 2020




Guangzhou
 Baiyun International Airport (CAN) — Guangzhou, China — 43,767,558


Hartsfield-Jackson Atlanta International Airport (ATL) — Atlanta, GA United States — 42,918,685


Chengdu
 Shuangliu International Airport (CTU) — Chengdu, China — 40,741,509


Dallas/Fort Worth International Airport (DFW) — Grapevine, TX United States — 39,364,990


Shenzhen
 Bao'an International Airport (SZX) — Shenzhen, China — 37,916,054


Chongqing
 Jiangbei International Airport (CKG) — Chongqing, China — 34,937,789


Beijing Capital International Airport (PEK) - Beijing, China - 34,513,827


Denver International Airport (DEN) - Denver, CO United States - 33,741,129


Kunming Changshui International Airport (KMG) - Kunming, China - 32,990,805


Shanghai Hongqiao International Airport (SHA) - Shanghai, China - 31,165,641




China and the United States dominate this list, with many of 2019's busiest airports, such as
Dubai
 International Airport (DXB),
Paris
-Charles de Gaulle Airport (CDG), and
Tokyo
 Haneda Airport (HND) nowhere to be found. However, when one considers the unique, COVID-19-influenced situation in 2020, this list starts to make sense. Both China and the U.S are home to huge populations, both have vast land areas over which to travel—which was tremendously impactful in 2020, when so much international travel was restricted—and both are vital business-travel destinations.


An arguably more surprising result is that Hartsfield-Jackson airport in Atlanta fell from the #1 position, which it has held for more than 20 consecutive years (since 1998), to #2. Though it is roughly the
37th most populous city
 in the United States, Atlanta is, at maximum, a two-hour flight from more than 80% of the US population (not to mention many popular warm-weather vacation destinations). This convenient location, coupled with Atlanta's reputation as a hotspot for business and tourism, attracts more than 110 million passengers per year to Hartsfield-Jackson. However, the COVID-19 pandemic and its related travel restrictions caused a 61% reduction in the airport's passenger volume in 2020—more than every other airport in the top 10 except for Beijing Capital. This drop-off enabled Guangzhou Baiyu, which lost a comparatively low 40.4% of its passengers, to take the top spot, at least for 2020.


One might expect New
York
 City, the largest city in the US and arguably the most important city in the world, to make an appearance on this list and certainly be among the juggernauts in the United States. However, because New York’s traffic is split between three airports, much smaller cities with only a single airport, such as Atlanta, Denver, and Dallas/Fort Worth, all exceed the traffic of each individual New York City airport. However, New York City’s predicament is worth taking into consideration, and if one combines the traffic of all three of New York’s airports, the city serves about 130 million annually, exceeding Hartsfield-Jackson by a sizable margin.


Many major cities have multiple airports. If we take into consideration every airport within a city’s metropolitan area, then
London
 is the busiest city by air-passenger traffic. London has six total airports located within its metropolitan area. Only two of them crack the top 50 in traffic, but they collectively transported around 177 million passengers in 2018. Now that we've seen the world's busiest airports by 2020 passengers, let us examine one final category: largest volume, i.e.: number of flights. The proper term for this is "aircraft movements", which includes all take-offs and landings made at the airport.


Top 10 Airports with the Most Take-Offs and Landings in the World in 2020




Hartsfield-Jackson Atlanta International Airport (ATL) — Atlanta, GA United States — 548,016


O'Hare International Airport (ORD) — Chicago, IL United States — 538,211


Dallas/Fort Worth International (DFW) — Dallas, TX United States — 514,702


Denver International (DEN) — Denver, CO United States — 436,971


Phoenix Deer Valley (DVT) — Phoenix, AZ United States — 402,444


Charlotte Douglas International (CLT) — Charlotte, NC United States — 397,983


Los Angeles International (LAX) — Los Angeles, CA United States — 379,364


Guangzhou Baiyun International (CAN) — Guangzhou, China — 373,421


Shanghai Pudong International (PVG) — Shanghai, China — 325,678


McCarran International Airport (LAS) — Las Vegas, NV United States — 323,422




On average, the top three busiest airports in the world each guided roughly 1,460 take-offs or landings per day in 2020. Impressive as that volume may be, it is also a notable reduction compared to 2019, in which ORD and ATL handled 919,704 and 904,301 aircraft movements respectively, for an average of 2499 per day each.
Largest Airports in the World 2023
Show Sources
 CSV
 JSON
Download Table Data
 I agree to receive email from World Population Review
Enter your email below, and you'll receive this table's data in your inbox momentarily.
Email:
Send
X
Largest Airports in the World 2023
Show Sources
10 Biggest Airports in the World - WorldAtlas
Top 10 Largest Airports in the World - Aerotime
ACI World data reveals COVID-!('s impact on world's busiest airports - Airports Council International
Sources
© 2023 World Population Review
Privacy Policy
Terms
Contact
About

In [20]:
type(lines)

bs4.element.Script

# Top 10 Largest Airports in the world 


King Fahd International (DMM) — Dammam, 
Saudi Arabia
 — 776 km2  (299.61 mi2)


Denver International (DEN) — Denver, CO 
United States
 — 135.7 km2  (53.09 mi2)


Dallas/Fort Worth International (DFW) — Dallas, TX United States — 69.6 km2  (26.88 mi2)


Orlando International (MCO) — Orlando, FL United States — 53.8 km2  (20.78 mi2)


Washington
 Dulles International (IAD) — Washington D.C., United States — 48.6 km2  (18.75 mi2)


Beijing
 Daxing International (PKX) — Beijing, 
China
 — 46.6 km2 (18 mi2)


George Bush Intercontinental (IAH) — Houston, TX United States — 44.5 km2 (17.19 mi2)


Shanghai
 Pudong International (PVG) — Shanghai, China — 39.9 km2 (15.4 mi2)


Cairo
 International (CAI) — Cairo, 
Egypt
 — 36.3 km2 (14 mi2)


Suvarnabhumi International (BKK) — 
Bangkok
, 
Thailand
 — 32.4 km2 (12.51 mi2)

In [21]:
# Top 10 Largest Airports in the world

newdata = """King Fahd International (DMM) — Dammam, Saudi Arabia — 776 km2 (299.61 mi2)

Denver International (DEN) — Denver, CO United States — 135.7 km2 (53.09 mi2)

Dallas/Fort Worth International (DFW) — Dallas, TX United States — 69.6 km2 (26.88 mi2)

Orlando International (MCO) — Orlando, FL United States — 53.8 km2 (20.78 mi2)

Washington Dulles International (IAD) — Washington D.C., United States — 48.6 km2 (18.75 mi2)

Beijing Daxing International (PKX) — Beijing, China — 46.6 km2 (18 mi2)

George Bush Intercontinental (IAH) — Houston, TX United States — 44.5 km2 (17.19 mi2)

Shanghai Pudong International (PVG) — Shanghai, China — 39.9 km2 (15.4 mi2)

Cairo International (CAI) — Cairo, Egypt — 36.3 km2 (14 mi2)

Suvarnabhumi International (BKK) — Bangkok , Thailand — 32.4 km2 (12.51 mi2)"""

In [22]:
lin2 = newdata.strip().split('\n')

In [23]:
# Create a DataFrame from the lines
df2 = pd.DataFrame({'Data': lin2})

In [24]:
# Split the 'Data' column into separate columns
df2[['Airport', 'Location', 'Area']] = df2['Data'].str.split(' — ', expand=True)
df2

,Data,Airport,Location,Area
0,"King Fahd International (DMM) — Dammam, Saudi ...",King Fahd International (DMM),"Dammam, Saudi Arabia",776 km2 (299.61 mi2)
1,,,None,None
2,"Denver International (DEN) — Denver, CO United...",Denver International (DEN),"Denver, CO United States",135.7 km2 (53.09 mi2)
3,,,None,None
4,Dallas/Fort Worth International (DFW) — Dallas...,Dallas/Fort Worth International (DFW),"Dallas, TX United States",69.6 km2 (26.88 mi2)
5,,,None,None
6,"Orlando International (MCO) — Orlando, FL Unit...",Orlando International (MCO),"Orlando, FL United States",53.8 km2 (20.78 mi2)
7,,,None,None
8,Washington Dulles International (IAD) — Washin...,Washington Dulles International (IAD),"Washington D.C., United States",48.6 km2 (18.75 mi2)
9,,,None,None
10,"Beijing Daxing International (PKX) — Beijing, ...",Beijing Daxing International (PKX),"Beijing, China",46.6 km2 (18 mi2)
11,,,None,None
12,"George Bush Intercontinental (IAH) — Houston, ...",George Bush Intercontinental (IAH),"Houston, TX United States",44.5 km2 (17.19 mi2)
13,,,None,None
14,Shanghai Pudong International (PVG) — Shanghai...,Shanghai Pudong International (PVG),"Shanghai, China",39.9 km2 (15.4 mi2)
15,,,None,None
16,"Cairo International (CAI) — Cairo, Egypt — 36....",Cairo International (CAI),"Cairo, Egypt",36.3 km2 (14 mi2)
17,,,None,None
18,"Suvarnabhumi International (BKK) — Bangkok , T...",Suvarnabhumi International (BKK),"Bangkok , Thailand",32.4 km2 (12.51 mi2)

In [25]:
# Drop the 'Data' column
df2.drop('Data', axis=1, inplace=True)
df2

,Airport,Location,Area
0,King Fahd International (DMM),"Dammam, Saudi Arabia",776 km2 (299.61 mi2)
1,,None,None
2,Denver International (DEN),"Denver, CO United States",135.7 km2 (53.09 mi2)
3,,None,None
4,Dallas/Fort Worth International (DFW),"Dallas, TX United States",69.6 km2 (26.88 mi2)
5,,None,None
6,Orlando International (MCO),"Orlando, FL United States",53.8 km2 (20.78 mi2)
7,,None,None
8,Washington Dulles International (IAD),"Washington D.C., United States",48.6 km2 (18.75 mi2)
9,,None,None
10,Beijing Daxing International (PKX),"Beijing, China",46.6 km2 (18 mi2)
11,,None,None
12,George Bush Intercontinental (IAH),"Houston, TX United States",44.5 km2 (17.19 mi2)
13,,None,None
14,Shanghai Pudong International (PVG),"Shanghai, China",39.9 km2 (15.4 mi2)
15,,None,None
16,Cairo International (CAI),"Cairo, Egypt",36.3 km2 (14 mi2)
17,,None,None
18,Suvarnabhumi International (BKK),"Bangkok , Thailand",32.4 km2 (12.51 mi2)

In [26]:
# Deleting empty rows 
rows_to_delete = [1, 3, 5, 7, 9, 11, 13, 15, 17]
df2.drop(rows_to_delete, inplace=True)
df2.reset_index(drop=True, inplace=True)
df2

,Airport,Location,Area
0,King Fahd International (DMM),"Dammam, Saudi Arabia",776 km2 (299.61 mi2)
1,Denver International (DEN),"Denver, CO United States",135.7 km2 (53.09 mi2)
2,Dallas/Fort Worth International (DFW),"Dallas, TX United States",69.6 km2 (26.88 mi2)
3,Orlando International (MCO),"Orlando, FL United States",53.8 km2 (20.78 mi2)
4,Washington Dulles International (IAD),"Washington D.C., United States",48.6 km2 (18.75 mi2)
5,Beijing Daxing International (PKX),"Beijing, China",46.6 km2 (18 mi2)
6,George Bush Intercontinental (IAH),"Houston, TX United States",44.5 km2 (17.19 mi2)
7,Shanghai Pudong International (PVG),"Shanghai, China",39.9 km2 (15.4 mi2)
8,Cairo International (CAI),"Cairo, Egypt",36.3 km2 (14 mi2)
9,Suvarnabhumi International (BKK),"Bangkok , Thailand",32.4 km2 (12.51 mi2)

In [27]:
# Split the 'Location' column into 'City' and 'Country' columns
df2[['City', 'Country']] = df2['Location'].str.split(' ', n=1, expand=True)
df2

,Airport,Location,Area,City,Country
0,King Fahd International (DMM),"Dammam, Saudi Arabia",776 km2 (299.61 mi2),"Dammam,",Saudi Arabia
1,Denver International (DEN),"Denver, CO United States",135.7 km2 (53.09 mi2),"Denver,",CO United States
2,Dallas/Fort Worth International (DFW),"Dallas, TX United States",69.6 km2 (26.88 mi2),"Dallas,",TX United States
3,Orlando International (MCO),"Orlando, FL United States",53.8 km2 (20.78 mi2),"Orlando,",FL United States
4,Washington Dulles International (IAD),"Washington D.C., United States",48.6 km2 (18.75 mi2),Washington,"D.C., United States"
5,Beijing Daxing International (PKX),"Beijing, China",46.6 km2 (18 mi2),"Beijing,",China
6,George Bush Intercontinental (IAH),"Houston, TX United States",44.5 km2 (17.19 mi2),"Houston,",TX United States
7,Shanghai Pudong International (PVG),"Shanghai, China",39.9 km2 (15.4 mi2),"Shanghai,",China
8,Cairo International (CAI),"Cairo, Egypt",36.3 km2 (14 mi2),"Cairo,",Egypt
9,Suvarnabhumi International (BKK),"Bangkok , Thailand",32.4 km2 (12.51 mi2),Bangkok,", Thailand"

In [28]:
# Split the 'Area' column into 'square km' and 'square miles' columns
df2[['Square km', 'Square mi']] = df2['Area'].str.split(' ', n=1, expand=True)
df2

,Airport,Location,Area,City,Country,Square km,Square mi
0,King Fahd International (DMM),"Dammam, Saudi Arabia",776 km2 (299.61 mi2),"Dammam,",Saudi Arabia,776,km2 (299.61 mi2)
1,Denver International (DEN),"Denver, CO United States",135.7 km2 (53.09 mi2),"Denver,",CO United States,135.7,km2 (53.09 mi2)
2,Dallas/Fort Worth International (DFW),"Dallas, TX United States",69.6 km2 (26.88 mi2),"Dallas,",TX United States,69.6,km2 (26.88 mi2)
3,Orlando International (MCO),"Orlando, FL United States",53.8 km2 (20.78 mi2),"Orlando,",FL United States,53.8,km2 (20.78 mi2)
4,Washington Dulles International (IAD),"Washington D.C., United States",48.6 km2 (18.75 mi2),Washington,"D.C., United States",48.6,km2 (18.75 mi2)
5,Beijing Daxing International (PKX),"Beijing, China",46.6 km2 (18 mi2),"Beijing,",China,46.6,km2 (18 mi2)
6,George Bush Intercontinental (IAH),"Houston, TX United States",44.5 km2 (17.19 mi2),"Houston,",TX United States,44.5,km2 (17.19 mi2)
7,Shanghai Pudong International (PVG),"Shanghai, China",39.9 km2 (15.4 mi2),"Shanghai,",China,39.9,km2 (15.4 mi2)
8,Cairo International (CAI),"Cairo, Egypt",36.3 km2 (14 mi2),"Cairo,",Egypt,36.3,km2 (14 mi2)
9,Suvarnabhumi International (BKK),"Bangkok , Thailand",32.4 km2 (12.51 mi2),Bangkok,", Thailand",32.4,km2 (12.51 mi2)

In [29]:
columns_to_delete = ['Location','Area']
df2.drop(columns=columns_to_delete, inplace=True)
df2

,Airport,City,Country,Square km,Square mi
0,King Fahd International (DMM),"Dammam,",Saudi Arabia,776,km2 (299.61 mi2)
1,Denver International (DEN),"Denver,",CO United States,135.7,km2 (53.09 mi2)
2,Dallas/Fort Worth International (DFW),"Dallas,",TX United States,69.6,km2 (26.88 mi2)
3,Orlando International (MCO),"Orlando,",FL United States,53.8,km2 (20.78 mi2)
4,Washington Dulles International (IAD),Washington,"D.C., United States",48.6,km2 (18.75 mi2)
5,Beijing Daxing International (PKX),"Beijing,",China,46.6,km2 (18 mi2)
6,George Bush Intercontinental (IAH),"Houston,",TX United States,44.5,km2 (17.19 mi2)
7,Shanghai Pudong International (PVG),"Shanghai,",China,39.9,km2 (15.4 mi2)
8,Cairo International (CAI),"Cairo,",Egypt,36.3,km2 (14 mi2)
9,Suvarnabhumi International (BKK),Bangkok,", Thailand",32.4,km2 (12.51 mi2)

In [30]:
df2['Square mi'] = df2['Square mi'].str.replace('km2', '').str.replace('(mi2)', '').str.replace('(', '').str.replace(')', '')
df2

C:\Users\Dragan Golic\AppData\Local\Temp\ipykernel_1828\227068471.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df2['Square mi'] = df2['Square mi'].str.replace('km2', '').str.replace('(mi2)', '').str.replace('(', '').str.replace(')', '')
C:\Users\Dragan Golic\AppData\Local\Temp\ipykernel_1828\227068471.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['Square mi'] = df2['Square mi'].str.replace('km2', '').str.replace('(mi2)', '').str.replace('(', '').str.replace(')', '')

,Airport,City,Country,Square km,Square mi
0,King Fahd International (DMM),"Dammam,",Saudi Arabia,776,299.61
1,Denver International (DEN),"Denver,",CO United States,135.7,53.09
2,Dallas/Fort Worth International (DFW),"Dallas,",TX United States,69.6,26.88
3,Orlando International (MCO),"Orlando,",FL United States,53.8,20.78
4,Washington Dulles International (IAD),Washington,"D.C., United States",48.6,18.75
5,Beijing Daxing International (PKX),"Beijing,",China,46.6,18
6,George Bush Intercontinental (IAH),"Houston,",TX United States,44.5,17.19
7,Shanghai Pudong International (PVG),"Shanghai,",China,39.9,15.4
8,Cairo International (CAI),"Cairo,",Egypt,36.3,14
9,Suvarnabhumi International (BKK),Bangkok,", Thailand",32.4,12.51

# Top 10 Biggest (and Busiest) Airports in the World by Total Passengers Served in 2020




Guangzhou
 Baiyun International Airport (CAN) — Guangzhou, China — 43,767,558


Hartsfield-Jackson Atlanta International Airport (ATL) — Atlanta, GA United States — 42,918,685


Chengdu
 Shuangliu International Airport (CTU) — Chengdu, China — 40,741,509


Dallas/Fort Worth International Airport (DFW) — Grapevine, TX United States — 39,364,990


Shenzhen
 Bao'an International Airport (SZX) — Shenzhen, China — 37,916,054


Chongqing
 Jiangbei International Airport (CKG) — Chongqing, China — 34,937,789


Beijing Capital International Airport (PEK) - Beijing, China - 34,513,827


Denver International Airport (DEN) - Denver, CO United States - 33,741,129


Kunming Changshui International Airport (KMG) - Kunming, China - 32,990,805


Shanghai Hongqiao International Airport (SHA) - Shanghai, China - 31,165,641

In [31]:
# Top 10 Biggest(and Busiest) Airports

newdata3 = """
Guangzhou Baiyun International Airport (CAN) — Guangzhou, China — 43,767,558

Hartsfield-Jackson Atlanta International Airport (ATL) — Atlanta, GA United States — 42,918,685

Chengdu Shuangliu International Airport (CTU) — Chengdu, China — 40,741,509

Dallas/Fort Worth International Airport (DFW) — Grapevine, TX United States — 39,364,990

Shenzhen Bao'an International Airport (SZX) — Shenzhen, China — 37,916,054

Chongqing Jiangbei International Airport (CKG) — Chongqing, China — 34,937,789

Beijing Capital International Airport (PEK) - Beijing, China - 34,513,827

Denver International Airport (DEN) - Denver, CO United States - 33,741,129

Kunming Changshui International Airport (KMG) - Kunming, China - 32,990,805

Shanghai Hongqiao International Airport (SHA) - Shanghai, China - 31,165,641
"""

In [32]:
lin3 = newdata3.strip().split('\n')
# Create a DataFrame from the lines
df3 = pd.DataFrame({'Data': lin3})

In [33]:
rows_to_delete = [1, 3, 5, 7, 9, 11, 13, 15, 17]
df3.drop(rows_to_delete, inplace=True)
df3.reset_index(drop=True, inplace=True)
df3

                                                Data
0  Guangzhou Baiyun International Airport (CAN) —...
1  Hartsfield-Jackson Atlanta International Airpo...
2  Chengdu Shuangliu International Airport (CTU) ...
3  Dallas/Fort Worth International Airport (DFW) ...
4  Shenzhen Bao'an International Airport (SZX) — ...
5  Chongqing Jiangbei International Airport (CKG)...
6  Beijing Capital International Airport (PEK) - ...
7  Denver International Airport (DEN) - Denver, C...
8  Kunming Changshui International Airport (KMG) ...
9  Shanghai Hongqiao International Airport (SHA) ...

In [34]:
# Split the 'Data' column into separate columns
df3[['Airport', 'Location', 'Total_Passengers']] = df3['Data'].str.split(' — ', expand=True)
df3

,Data,Airport,Location,Total_Passengers
0,Guangzhou Baiyun International Airport (CAN) —...,Guangzhou Baiyun International Airport (CAN),"Guangzhou, China","43,767,558"
1,Hartsfield-Jackson Atlanta International Airpo...,Hartsfield-Jackson Atlanta International Airpo...,"Atlanta, GA United States","42,918,685"
2,Chengdu Shuangliu International Airport (CTU) ...,Chengdu Shuangliu International Airport (CTU),"Chengdu, China","40,741,509"
3,Dallas/Fort Worth International Airport (DFW) ...,Dallas/Fort Worth International Airport (DFW),"Grapevine, TX United States","39,364,990"
4,Shenzhen Bao'an International Airport (SZX) — ...,Shenzhen Bao'an International Airport (SZX),"Shenzhen, China","37,916,054"
5,Chongqing Jiangbei International Airport (CKG)...,Chongqing Jiangbei International Airport (CKG),"Chongqing, China","34,937,789"
6,Beijing Capital International Airport (PEK) - ...,Beijing Capital International Airport (PEK) - ...,None,None
7,"Denver International Airport (DEN) - Denver, C...","Denver International Airport (DEN) - Denver, C...",None,None
8,Kunming Changshui International Airport (KMG) ...,Kunming Changshui International Airport (KMG) ...,None,None
9,Shanghai Hongqiao International Airport (SHA) ...,Shanghai Hongqiao International Airport (SHA) ...,None,None

In [35]:
# Update multiple records in the 'City' column
df3.loc[6,'Location'] = 'Beijing, China'
df3.loc[7,'Location'] = 'Denver, CO United States'
df3.loc[8,'Location'] = 'Kunming, China'
df3.loc[9,'Location'] = 'Shanghai, China'

df3.loc[6,'Total_Passengers'] = '34,513,827'
df3.loc[7,'Total_Passengers'] = '33,741,129'
df3.loc[8,'Total_Passengers'] = '32,990,805'
df3.loc[9,'Total_Passengers'] = '31,165,641'
df3

,Data,Airport,Location,Total_Passengers
0,Guangzhou Baiyun International Airport (CAN) —...,Guangzhou Baiyun International Airport (CAN),"Guangzhou, China","43,767,558"
1,Hartsfield-Jackson Atlanta International Airpo...,Hartsfield-Jackson Atlanta International Airpo...,"Atlanta, GA United States","42,918,685"
2,Chengdu Shuangliu International Airport (CTU) ...,Chengdu Shuangliu International Airport (CTU),"Chengdu, China","40,741,509"
3,Dallas/Fort Worth International Airport (DFW) ...,Dallas/Fort Worth International Airport (DFW),"Grapevine, TX United States","39,364,990"
4,Shenzhen Bao'an International Airport (SZX) — ...,Shenzhen Bao'an International Airport (SZX),"Shenzhen, China","37,916,054"
5,Chongqing Jiangbei International Airport (CKG)...,Chongqing Jiangbei International Airport (CKG),"Chongqing, China","34,937,789"
6,Beijing Capital International Airport (PEK) - ...,Beijing Capital International Airport (PEK) - ...,"Beijing, China","34,513,827"
7,"Denver International Airport (DEN) - Denver, C...","Denver International Airport (DEN) - Denver, C...","Denver, CO United States","33,741,129"
8,Kunming Changshui International Airport (KMG) ...,Kunming Changshui International Airport (KMG) ...,"Kunming, China","32,990,805"
9,Shanghai Hongqiao International Airport (SHA) ...,Shanghai Hongqiao International Airport (SHA) ...,"Shanghai, China","31,165,641"

In [36]:
# Drop the 'Data' column
df3.drop('Data', axis=1, inplace=True)
df3

,Airport,Location,Total_Passengers
0,Guangzhou Baiyun International Airport (CAN),"Guangzhou, China","43,767,558"
1,Hartsfield-Jackson Atlanta International Airpo...,"Atlanta, GA United States","42,918,685"
2,Chengdu Shuangliu International Airport (CTU),"Chengdu, China","40,741,509"
3,Dallas/Fort Worth International Airport (DFW),"Grapevine, TX United States","39,364,990"
4,Shenzhen Bao'an International Airport (SZX),"Shenzhen, China","37,916,054"
5,Chongqing Jiangbei International Airport (CKG),"Chongqing, China","34,937,789"
6,Beijing Capital International Airport (PEK) - ...,"Beijing, China","34,513,827"
7,"Denver International Airport (DEN) - Denver, C...","Denver, CO United States","33,741,129"
8,Kunming Changshui International Airport (KMG) ...,"Kunming, China","32,990,805"
9,Shanghai Hongqiao International Airport (SHA) ...,"Shanghai, China","31,165,641"

In [37]:
# Split the 'Location' column into 'City' and 'Country' columns
df3[['City', 'Country']] = df3['Location'].str.split(' ', n=1, expand=True)
df3

,Airport,Location,Total_Passengers,City,Country
0,Guangzhou Baiyun International Airport (CAN),"Guangzhou, China","43,767,558","Guangzhou,",China
1,Hartsfield-Jackson Atlanta International Airpo...,"Atlanta, GA United States","42,918,685","Atlanta,",GA United States
2,Chengdu Shuangliu International Airport (CTU),"Chengdu, China","40,741,509","Chengdu,",China
3,Dallas/Fort Worth International Airport (DFW),"Grapevine, TX United States","39,364,990","Grapevine,",TX United States
4,Shenzhen Bao'an International Airport (SZX),"Shenzhen, China","37,916,054","Shenzhen,",China
5,Chongqing Jiangbei International Airport (CKG),"Chongqing, China","34,937,789","Chongqing,",China
6,Beijing Capital International Airport (PEK) - ...,"Beijing, China","34,513,827","Beijing,",China
7,"Denver International Airport (DEN) - Denver, C...","Denver, CO United States","33,741,129","Denver,",CO United States
8,Kunming Changshui International Airport (KMG) ...,"Kunming, China","32,990,805","Kunming,",China
9,Shanghai Hongqiao International Airport (SHA) ...,"Shanghai, China","31,165,641","Shanghai,",China

In [38]:
column_to_delete = ['Location']
df3.drop(columns=column_to_delete, inplace=True)

In [39]:
# Define the desired column order
desired_columns = ['Airport', 'City', 'Country', 'Total_Passengers']

# Rearrange the columns based on the desired order
df3 = df3[desired_columns]
df3

,Airport,City,Country,Total_Passengers
0,Guangzhou Baiyun International Airport (CAN),"Guangzhou,",China,"43,767,558"
1,Hartsfield-Jackson Atlanta International Airpo...,"Atlanta,",GA United States,"42,918,685"
2,Chengdu Shuangliu International Airport (CTU),"Chengdu,",China,"40,741,509"
3,Dallas/Fort Worth International Airport (DFW),"Grapevine,",TX United States,"39,364,990"
4,Shenzhen Bao'an International Airport (SZX),"Shenzhen,",China,"37,916,054"
5,Chongqing Jiangbei International Airport (CKG),"Chongqing,",China,"34,937,789"
6,Beijing Capital International Airport (PEK) - ...,"Beijing,",China,"34,513,827"
7,"Denver International Airport (DEN) - Denver, C...","Denver,",CO United States,"33,741,129"
8,Kunming Changshui International Airport (KMG) ...,"Kunming,",China,"32,990,805"
9,Shanghai Hongqiao International Airport (SHA) ...,"Shanghai,",China,"31,165,641"

# Top 10 Airports with the Most Take-Offs and Landings in the World in 2020




Hartsfield-Jackson Atlanta International Airport (ATL) — Atlanta, GA United States — 548,016


O'Hare International Airport (ORD) — Chicago, IL United States — 538,211


Dallas/Fort Worth International (DFW) — Dallas, TX United States — 514,702


Denver International (DEN) — Denver, CO United States — 436,971


Phoenix Deer Valley (DVT) — Phoenix, AZ United States — 402,444


Charlotte Douglas International (CLT) — Charlotte, NC United States — 397,983


Los Angeles International (LAX) — Los Angeles, CA United States — 379,364


Guangzhou Baiyun International (CAN) — Guangzhou, China — 373,421


Shanghai Pudong International (PVG) — Shanghai, China — 325,678


McCarran International Airport (LAS) — Las Vegas, NV United States — 323,422

In [40]:
# Top 10 Airports with the Most Take-Offs and Landings

newdata4 = """
Hartsfield-Jackson Atlanta International Airport (ATL) — Atlanta, GA United States — 548,016

O'Hare International Airport (ORD) — Chicago, IL United States — 538,211

Dallas/Fort Worth International (DFW) — Dallas, TX United States — 514,702

Denver International (DEN) — Denver, CO United States — 436,971

Phoenix Deer Valley (DVT) — Phoenix, AZ United States — 402,444

Charlotte Douglas International (CLT) — Charlotte, NC United States — 397,983

Los Angeles International (LAX) — Los Angeles, CA United States — 379,364

Guangzhou Baiyun International (CAN) — Guangzhou, China — 373,421

Shanghai Pudong International (PVG) — Shanghai, China — 325,678

McCarran International Airport (LAS) — Las Vegas, NV United States — 323,422
"""

In [41]:
lin4 = newdata4.strip().split('\n')
# Create a DataFrame from the lines
df4 = pd.DataFrame({'Data': lin4})
df4

                                                 Data
0   Hartsfield-Jackson Atlanta International Airpo...
1
2   O'Hare International Airport (ORD) — Chicago, ...
3
4   Dallas/Fort Worth International (DFW) — Dallas...
5
6   Denver International (DEN) — Denver, CO United...
7
8   Phoenix Deer Valley (DVT) — Phoenix, AZ United...
9
10  Charlotte Douglas International (CLT) — Charlo...
11
12  Los Angeles International (LAX) — Los Angeles,...
13
14  Guangzhou Baiyun International (CAN) — Guangzh...
15
16  Shanghai Pudong International (PVG) — Shanghai...
17
18  McCarran International Airport (LAS) — Las Veg...

In [42]:
# Split the 'Data' column into separate columns
df4[['Airport', 'Location', 'Take-offs and Landing']] = df4['Data'].str.split(' — ', expand=True)
df4

,Data,Airport,Location,Take-offs and Landing
0,Hartsfield-Jackson Atlanta International Airpo...,Hartsfield-Jackson Atlanta International Airpo...,"Atlanta, GA United States","548,016"
1,,,None,None
2,"O'Hare International Airport (ORD) — Chicago, ...",O'Hare International Airport (ORD),"Chicago, IL United States","538,211"
3,,,None,None
4,Dallas/Fort Worth International (DFW) — Dallas...,Dallas/Fort Worth International (DFW),"Dallas, TX United States","514,702"
5,,,None,None
6,"Denver International (DEN) — Denver, CO United...",Denver International (DEN),"Denver, CO United States","436,971"
7,,,None,None
8,"Phoenix Deer Valley (DVT) — Phoenix, AZ United...",Phoenix Deer Valley (DVT),"Phoenix, AZ United States","402,444"
9,,,None,None
10,Charlotte Douglas International (CLT) — Charlo...,Charlotte Douglas International (CLT),"Charlotte, NC United States","397,983"
11,,,None,None
12,"Los Angeles International (LAX) — Los Angeles,...",Los Angeles International (LAX),"Los Angeles, CA United States","379,364"
13,,,None,None
14,Guangzhou Baiyun International (CAN) — Guangzh...,Guangzhou Baiyun International (CAN),"Guangzhou, China","373,421"
15,,,None,None
16,Shanghai Pudong International (PVG) — Shanghai...,Shanghai Pudong International (PVG),"Shanghai, China","325,678"
17,,,None,None
18,McCarran International Airport (LAS) — Las Veg...,McCarran International Airport (LAS),"Las Vegas, NV United States","323,422"

In [98]:
# Drop the 'Data' column
df4.drop('Data', axis=1, inplace=True)
df4

,Airport,Location,Take-offs and Landing
0,Hartsfield-Jackson Atlanta International Airpo...,"Atlanta, GA United States","548,016"
1,,None,None
2,O'Hare International Airport (ORD),"Chicago, IL United States","538,211"
3,,None,None
4,Dallas/Fort Worth International (DFW),"Dallas, TX United States","514,702"
5,,None,None
6,Denver International (DEN),"Denver, CO United States","436,971"
7,,None,None
8,Phoenix Deer Valley (DVT),"Phoenix, AZ United States","402,444"
9,,None,None
10,Charlotte Douglas International (CLT),"Charlotte, NC United States","397,983"
11,,None,None
12,Los Angeles International (LAX),"Los Angeles, CA United States","379,364"
13,,None,None
14,Guangzhou Baiyun International (CAN),"Guangzhou, China","373,421"
15,,None,None
16,Shanghai Pudong International (PVG),"Shanghai, China","325,678"
17,,None,None
18,McCarran International Airport (LAS),"Las Vegas, NV United States","323,422"

In [99]:
rows_to_delete = [1, 3, 5, 7, 9, 11, 13, 15, 17]
df4.drop(rows_to_delete, inplace=True)
df4.reset_index(drop=True, inplace=True)
df4

,Airport,Location,Take-offs and Landing
0,Hartsfield-Jackson Atlanta International Airpo...,"Atlanta, GA United States","548,016"
1,O'Hare International Airport (ORD),"Chicago, IL United States","538,211"
2,Dallas/Fort Worth International (DFW),"Dallas, TX United States","514,702"
3,Denver International (DEN),"Denver, CO United States","436,971"
4,Phoenix Deer Valley (DVT),"Phoenix, AZ United States","402,444"
5,Charlotte Douglas International (CLT),"Charlotte, NC United States","397,983"
6,Los Angeles International (LAX),"Los Angeles, CA United States","379,364"
7,Guangzhou Baiyun International (CAN),"Guangzhou, China","373,421"
8,Shanghai Pudong International (PVG),"Shanghai, China","325,678"
9,McCarran International Airport (LAS),"Las Vegas, NV United States","323,422"

In [100]:
# Split the 'Location' column into 'City' and 'Country' columns
df4[['City', 'Country']] = df4['Location'].str.split(' ', n=1, expand=True)
df4

,Airport,Location,Take-offs and Landing,City,Country
0,Hartsfield-Jackson Atlanta International Airpo...,"Atlanta, GA United States","548,016","Atlanta,",GA United States
1,O'Hare International Airport (ORD),"Chicago, IL United States","538,211","Chicago,",IL United States
2,Dallas/Fort Worth International (DFW),"Dallas, TX United States","514,702","Dallas,",TX United States
3,Denver International (DEN),"Denver, CO United States","436,971","Denver,",CO United States
4,Phoenix Deer Valley (DVT),"Phoenix, AZ United States","402,444","Phoenix,",AZ United States
5,Charlotte Douglas International (CLT),"Charlotte, NC United States","397,983","Charlotte,",NC United States
6,Los Angeles International (LAX),"Los Angeles, CA United States","379,364",Los,"Angeles, CA United States"
7,Guangzhou Baiyun International (CAN),"Guangzhou, China","373,421","Guangzhou,",China
8,Shanghai Pudong International (PVG),"Shanghai, China","325,678","Shanghai,",China
9,McCarran International Airport (LAS),"Las Vegas, NV United States","323,422",Las,"Vegas, NV United States"

In [101]:
column_to_delete = ['Location']
df4.drop(columns=column_to_delete, inplace=True)
df4

,Airport,Take-offs and Landing,City,Country
0,Hartsfield-Jackson Atlanta International Airpo...,"548,016","Atlanta,",GA United States
1,O'Hare International Airport (ORD),"538,211","Chicago,",IL United States
2,Dallas/Fort Worth International (DFW),"514,702","Dallas,",TX United States
3,Denver International (DEN),"436,971","Denver,",CO United States
4,Phoenix Deer Valley (DVT),"402,444","Phoenix,",AZ United States
5,Charlotte Douglas International (CLT),"397,983","Charlotte,",NC United States
6,Los Angeles International (LAX),"379,364",Los,"Angeles, CA United States"
7,Guangzhou Baiyun International (CAN),"373,421","Guangzhou,",China
8,Shanghai Pudong International (PVG),"325,678","Shanghai,",China
9,McCarran International Airport (LAS),"323,422",Las,"Vegas, NV United States"

In [102]:
# Get the current column order
current_columns = df4.columns.tolist()
current_columns

['Airport', 'Take-offs and Landing', 'City', 'Country']

In [103]:
# Define the desired column order
desired_columns = ['Airport', 'City', 'Country', 'Take-offs and Landing']

# Rearrange the columns based on the desired order
df4 = df4[desired_columns]
df4

,Airport,City,Country,Take-offs and Landing
0,Hartsfield-Jackson Atlanta International Airpo...,"Atlanta,",GA United States,"548,016"
1,O'Hare International Airport (ORD),"Chicago,",IL United States,"538,211"
2,Dallas/Fort Worth International (DFW),"Dallas,",TX United States,"514,702"
3,Denver International (DEN),"Denver,",CO United States,"436,971"
4,Phoenix Deer Valley (DVT),"Phoenix,",AZ United States,"402,444"
5,Charlotte Douglas International (CLT),"Charlotte,",NC United States,"397,983"
6,Los Angeles International (LAX),Los,"Angeles, CA United States","379,364"
7,Guangzhou Baiyun International (CAN),"Guangzhou,",China,"373,421"
8,Shanghai Pudong International (PVG),"Shanghai,",China,"325,678"
9,McCarran International Airport (LAS),Las,"Vegas, NV United States","323,422"

In [104]:
df1.to_csv("df1.csv", index = True)

In [105]:
df2.to_csv("df2.csv", index = True)

In [106]:
df3.to_csv("df3.csv", index = True)

In [107]:
df4.to_csv("df4.csv", index = True)